@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root{
     --font-family: 'Sigmar', cursive;
     --bg-color: #0A4D68;
     --primary-color: #05BFDB ;
}


body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 4em;
}

h2{
    font-size: 4em;
}

h3{
    font-size: 2em;
    margin-top: 1.3em;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 1em;
}

.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar-novamente{
    font-size: 15px;
    font-weight: 600;
    color: var(--bg-color);
    padding: 10px 15px;
    border: none;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 30px;
    transition: all 1s;
    cursor: pointer
}

.btn-jogar-novamente:hover{
    background-color: #ffffff;
    color: var(--primary-color);
}